<div class="container-fluid container-fill-height">
  <div class="container-content-middle">
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "m-x-auto text-center app-login-form"}) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :unlock_token %>
      <a href="../index.html" class="app-brand m-b-lg">
        <img src="/assets/brand.png" alt="brand">
      </a>
      <h5>Resend unlock instructions</h5>
      <div class="form-group">
       <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control'} %>
      </div>

      <div class="m-b-lg">
        <%= f.button :submit, "Resend unlock instructions", class: 'btn btn-primary' %>
      </div>
      <footer class="screen-login">
        <%= render "users/shared/links" %>
      </footer>
    <% end %>
  </div>
</div>