<h3><%= link_to 'Ask Why', new_ask_why_path %></h3>

<div class='col-md-12 all-why-cards'>
  <% @ask_whies.each do |why| %>
    <div class='col-md-3 why-card'>

      <div class='asked-by'>
        <%= image_tag(why.user.user_image(:original)) %><br>
        <span><b><%= why.user.full_name %></b></span>
        <% unless created_by_user?(why.user) %>
          <%= render partial: 'common/follow_unfollow_link', locals: { why: why } %>(<%= why.user.followers.count %>)
        <% end %>
      </div>

      <div class='content'>
        <a href="/ask_whies/<%= why.id %>">
          <%= why.question %>
          <span><%= image_tag('/assets/why.png') %></span>
        </a>
      </div>

      <% unless created_by_user?(why.user) %>
        <%= render partial: 'common/why_card_options', locals: { why: why } %>

        <% unless params[:controller] == "ask_whies" && params[:action] == "show" %>
          <%= link_to 'Reply', ask_why_path(why) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>