<% @ask_whies.each do |why| %>
  <li class="media list-group-item p-a">
  <div class="left-section">
    <div class="media-left">
      <%= link_to profile_path(why.user) do %>
        <%= image_tag(why.user.user_profile_image,class: "img-circle",style: "width: 100%;")%>
      <%end%>
    </div>
       <div class="why_card_options">
        <% unless created_by_user?(why.user) %>
        <%= render partial: 'common/why_card_options', locals: { why: why } %>&nbsp;
          <% unless params[:controller] == "ask_whies" && params[:action] == "show" %>
          <ul>
          <li>
            <%= link_to 'Reply', "#-" %>
            <span><%= why.posts.count %></span></li>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="media-body">
      <div class="media-heading">
        <small class="pull-right text-muted">
          <%= time_ago_in_words(why.created_at) %>
          <%= link_to "delete",ask_why_path(why), method: :delete if created_by_user? why.user %>
          <%= link_to "edit",edit_ask_why_path(why) if created_by_user? why.user %>
        </small>
        <h5><%= why.user.full_name %></h5>
      </div>
      <p><%= why.question %></p>
      <div class="media-body-inline-grid" data-grid="images">
        <div style="display: none">
          <img data-action="zoom" data-width="1050" data-height="700" src="/assets/unsplash_1.jpg">
        </div>

        <div style="display: none">
          <img data-action="zoom" data-width="640" data-height="640" src="/assets/instagram_1.jpg">
        </div>

        <div style="display: none">
          <img data-action="zoom" data-width="640" data-height="640" src="/assets/instagram_13.jpg">
        </div>

        <div style="display: none">
          <img data-action="zoom" data-width="1048" data-height="700" src="/assets/unsplash_2.jpg">
        </div>
      </div>
      <ul class="media-list m-b">
        <%= render partial: 'posts/form' ,locals: {why: why} %>
        <%= render template: "posts/index" , locals: {why: why} %>
      </ul>
    </div>
  </li>
<% end %>