<h3><%= link_to 'Ask Why', new_ask_why_path %></h3>

<div class='col-md-12'>
  <% @my_whies.each do |why| %>
    <div class='col-md-3 why-card'>

      <div class='asked-by'>
        <%= image_tag(why.user.user_image(:original)) %><br>
        <span><b><%= why.user.full_name %></b></span>
      </div>

      <div class='content'>
        <%= why.question %>
        <span><%= image_tag('/assets/why.png') %></span>
      </div>

      <div class='options'>
        <%= link_to 'Edit', edit_ask_why_path(why) %>&nbsp
        <%= link_to 'Destroy', ask_why_path(why), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>