<div class='col-md-12'>
  <div class='col-md-4'>
    <div class='why-card'>

      <div class='asked-by'>
        <%= image_tag(@ask_why.user.user_image(:original)) %><br>
        <span><b><%= @ask_why.user.full_name %></b></span>
      </div>

      <div class='content'>
        <%= @ask_why.question %>
        <span><%= image_tag('/assets/why.png') %></span>
      </div>

      <div class='options'>
        <%= link_to 'Like', '#-' %>&nbsp
        <%= link_to 'Un-like', '#-' %>&nbsp
        <%= link_to 'Super-like', '#-' %>&nbsp
      </div>
    </div>

    <% @ask_why.posts.each do |post| %>
      <div class='why-card-posts'>

        <div class='user'>
          <%= image_tag(post.user.user_image(:thumb)) %>
          <span><b><%= post.user.full_name %></b></span>
        </div>

        <div class='content'>
          <%= post.content %>
        </div>

        <div class='image'>
          <%= image_tag(post.image.url(:medium)) if post.image.present? %>
        </div>

        <div class='options'>
          <% if created_by_user?(post.user) %>
            <%= link_to 'Edit', edit_post_path(post) %>&nbsp
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else %>
            <%= link_to 'Like', '#-' %>&nbsp
            <%= link_to 'Un-like', '#-' %>&nbsp
            <%= link_to 'Super-like', '#-' %>&nbsp
          <% end %>
        </div>
      </div>
    <% end %>
  
    <%= render 'posts/form', post: @ask_why.posts.new %>
  </div>
</div>
