<!-- <li class="media list-group-item p-a"> -->
  <%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>
    <%= f.hidden_field :ask_why_id, value: why.id  unless @post.id.present? %>
    <div class="input-group">
      <%= f.text_field :content, class: 'form-control count_length', rows: 3, placeholder: 'Share your reason for why?....', maxlength: 100 %>
      <div class="input-group-btn">
       <div class="btn btn-default image-preview-input">
        <span class="icon icon-camera"></span>
          <span class="image-preview-input-title"></span>
          <%= f.file_field :image, accept: "image/*" %><!-- rename it -->
        </div>
          <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
<!-- </li> -->