<% why.posts.each do |post| %>
  <li class="media">
  <a class="media-left" href="<%= profile_path(post.user)%>">
    <%= image_tag(post.user.user_image(:thumb),class: "media-object img-circle") %>
  </a>
  <div class="media-body">
    <strong><%= post.user.full_name %></strong>
    <small class="pull-right text-muted">
      <%=link_to "delete",post_path(post), method: :delete if (created_by_user? post.user or created_by_user? why.user) %>
      <%=link_to "edit",edit_post_path(post), data: { why: why} if created_by_user? post.user %>
    <%= time_ago_in_words(post.created_at) %></small>
    <%= post.content %>
    <div class='image'>
      <%= image_tag(post.image.url(:medium),class: "image", data: {action: 'zoom'}) if post.image.present? %>
    </div>
  </div>
  </li>
<% end %>