<nav class="navbar navbar-default navbar-head" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"></a>
      <%= image_tag "why_lrg_logo_transparent.png", {height: 70} %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><a href="<%= ask_whies_path %>">Why?</a></li>
          <li><a href="<%= my_asked_why_ask_whies_path %>">My asked why?</a></li>
          <li><a href="<%= user_posts_posts_path %>">My Posts</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <%= image_tag(current_user.user_image(:thumb), class: 'user-icon') %><%= current_user.username %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="<%= edit_profile_path(current_user.profile) %>">Account</a></li>
              <li><a href="<%= destroy_user_session_path %>" data: { method='delete' } >Logout</a></li>
            </ul>
          </li>
        <% else %>
          <li><a href="<%= new_user_session_path %>">Login</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<% unless user_page? %>
  <div class='search-nav'>
    <div class='col-md-3'>
    </div>
    <div class='col-md-6'>
      <%= form_tag '#-', method: :post do |f| %>
        <%= text_field_tag :search, '', placeholder: 'Search user with name or any why?' , class: 'search_field form-control' %>
      <% end %>
    </div>
  </div><br>
<% end %>
