<div class='options why_card_<%= why.id %>'>
  <%= link_to (why_likes(why)), like_ask_why_path(why), remote: true %>&nbsp
  <%= why.likes.count %>

  <%= link_to (why_dislikes(why)), dislike_ask_why_path(why), remote: true %>&nbsp
  <%= why.dislikes.count %>

  <%= link_to (why_super_likes(why)), super_like_ask_why_path(why), remote: true %>&nbsp
  <%= why.super_likes.count %>

  <%= link_to (why.reshare.include?(current_user.id.to_s) ? 'Shared' : 'Reshare'), reshare_ask_why_path(why), remote: true %>
</div>