<div class='options why_card_<%= why.id %>'>
<ul>
  <li><%= link_to image_tag('/assets/icon-one.png') + (why_likes(why)), like_ask_why_path(why), remote: true %><br>
  <span><%= why.likes.count %></span></li>

 <li><%= link_to image_tag('/assets/icon-two.png') + (why_dislikes(why)), dislike_ask_why_path(why), remote: true %><br>
  <span><%= why.dislikes.count %></span></li>

  <li><%= link_to image_tag('/assets/icon-three.png')+(why_super_likes(why)), super_like_ask_why_path(why), remote: true %><br>
  <span><%= why.super_likes.count %></span></li>

  <li><%= link_to image_tag('/assets/icon-four.png') + (why.reshare.include?(current_user.id.to_s) ? 'Shared' : 'Reshare'), reshare_ask_why_path(why), remote: true %></li>
</div>